<template>
   <h2>ConditinalRendering</h2>
   <button v-if="isLogin" @click="handleLogout"  class="btn btn-danger">Logout</button>
   <button v-else  @click="handleLogin" class="btn btn-success">Login</button>
</template>

<script>
import { ref } from 'vue';

export default{
    name: "ConditinalRendering",
    setup(){
        const isLogin = ref(false);

        const handleLogin = () => {
            console.log('before', isLogin.value);
            isLogin.value = true;
            console.log('after', isLogin.value);
        }

        const handleLogout = () => {
            console.log('before', isLogin.value);
            isLogin.value = false;
            console.log('after', isLogin.value);
        }

        return{
            isLogin,
            handleLogin,
            handleLogout,
        }
    }
}
</script>