<template>
  
  <List_Shoe_Vuex/>

  <ShoeCart/>
</template>

<script>
import List_Shoe_Vuex from './List_Shoe_Vuex.vue';
import ShoeCart from './ShoeCart.vue';
export default{
    name: "Ex_Shoe_Shop_Vuex",
    components: {
    List_Shoe_Vuex,
    ShoeCart
}
    
}
</script>