<template>
    <div class="col-4 mb-5" v-for="shoe in shoeList" :key="shoe.id">
       <img class="card-img-top" :src="shoe.image" alt="">
       <div class="card-body">
           <h5 class="card-title">{{ shoe.name }}</h5>
           <p class="card-text">{{ shoe.price }}</p>
           <button @click="addToCart(shoe)" class="btn btn-primary">Add To Cart</button>
       </div>
    </div>
   </template>
   
   <script>
   export default {
     name: "Item_Shoe_Vuex",
     props: {
       shoeList: {
         type: Array,
         required: true
       }
     },
     methods: {
       addToCart(shoe) {
         this.$store.commit("ADD_TO_CART", shoe);
       }
     }
   }
   </script>