<template>
        <div class="container p-5">
                <div class="row p-5">
                    <Item_Shoe_Vuex  :shoeList="counter"/>
                </div>
        </div>
        
</template>

<script>
import Item_Shoe_Vuex from './Item_Shoe_Vuex.vue';
export default{
    name: "List_Shoe_Vuex",
    computed: {
        counter(){
            return this.$store.state.listShoe;
        }
    },
    components: {
    Item_Shoe_Vuex
  }
}
</script>