<template>
    <div class="container p-5">
        <table class="table table-inverse table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng</th>
                    <th>Hình ảnh</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="shoe in shoeCart" :key="shoe.id">
                    <td>{{ shoe.id }}</td>
                    <td>{{ shoe.name }}</td>
                    <td>{{ shoe.price }}</td>
                    <td>
                        <button @click="handleChangeQuantity(shoe.id, -1)" class="btn btn-outline-info btn-sm">-</button>
                        <strong class="mx-2">{{ shoe.soLuong }}</strong>
                        <button @click="handleChangeQuantity(shoe.id, +1)" class="btn btn-outline-info btn-sm">+</button>
                    </td>
                    <td>
                        {{ shoe.price * shoe.soLuong }}
                    </td>
                    <td>
                        <img style="width: 50px;" :src="shoe.image" alt="">
                    </td>
                    <td>
                        <button @click="handleDelete(shoe.id)" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
  name: "ShoeCart",
  computed: {
    shoeCart() {
      return this.$store.state.cart;
    }
  }, 
  methods: {
    handleDelete(shoe){
         this.$store.commit("DELETE_SHOE", shoe);
    },
    handleChangeQuantity(shoeId, quantity){
        this.$store.commit("CHANGE_QUALITY", { id: shoeId, luaChon: quantity });
    }

  }
}
</script>