<template>
    <div>
        <h2>ExventHandling</h2>
        <button @click="handleLogin" class="btn btn-success">Login</button>
        <button @click="handleSayHelloWithName('Alice', 18)" class="btn btn-danger">Say Hello with me</button>
    </div>
</template>


<script>
export default{
    name: "ExventHandling",
    methods: {
        handleLogin () {
            console.log('yes');
        },
        handleSayHelloWithName(username, age){
            console.log('hello', username, age);
        }
    }
}
</script>