<script>
import Header_Layout from './Header_Layout.vue';
import Banner_Layout from './Banner_Layout.vue';
import Item_Layout from './Item_Layout.vue';
import Footer_Layout from './Footer_Layout.vue';
import './ex_layout.css'
export default{
    name: "Ex_Layout",
    components: { Header_Layout, Banner_Layout, Item_Layout, Footer_Layout }
}
</script>


<template>

    <div>
      <Header_Layout/>
      <Banner_Layout/>
      <Item_Layout/>
      <Footer_Layout/>
    </div>
</template>


