<script>
export default{
    name: "Footer_Layout",
}
</script>

<template>
     <div>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0   text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
      </div>
</template>

