<script>
export default{
    name: "Item_Layout"
}
</script>


<template>
     <div className="container px-lg-4">
 <div className="card-grid">
<div className="card" :style="{ width: '18rem' }">
  <img className="card-img-top" src="https://www8.0zz0.com/2023/02/11/10/434814459.png" alt="Card image cap" />
  <div className="card-body">
    <h5 className="card-title">Card title</h5>
    <p className="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
  <div className="card-footer" >
    <a href="#" className="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div className="card" :style="{ width: '18rem' }">
  <img className="card-img-top" src="https://www8.0zz0.com/2023/02/11/10/434814459.png" alt="Card image cap" />
  <div className="card-body">
    <h5 className="card-title">Card title</h5>
    <p className="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
  <div className="card-footer" >
    <a href="#" className="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div className="card" :style="{ width: '18rem' }">
  <img className="card-img-top" src="https://www8.0zz0.com/2023/02/11/10/434814459.png" alt="Card image cap" />
  <div className="card-body">
    <h5 className="card-title">Card title</h5>
    <p className="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
  <div className="card-footer" >
    <a href="#" className="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div className="card" :style="{ width: '18rem' }">
  <img className="card-img-top" src="https://www8.0zz0.com/2023/02/11/10/434814459.png" alt="Card image cap" />
  <div className="card-body">
    <h5 className="card-title">Card title</h5>
    <p className="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
  <div className="card-footer" >
    <a href="#" className="btn btn-primary">Go somewhere</a>
  </div>
</div>

 </div>
</div>
      

  </template>