<template>
    <div>
      <div class="row">
        <div class="col-md-4">
          <br />
          <h3 class="text-center">{{ detail.tenSP }}</h3>
          <img
            class="card-img-top"
            style="width: 18rem"
            :src="detail.hinhAnh"
            :alt="detail.tenSP"
          />
        </div>
        <div class="col-8">
          <table class="table">
            <thead>
              <tr>
                <td colspan="2">
                  <h3>Thông số kỹ thuật</h3>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h3>{{ detail.maSP }}</h3>
                </td>
              </tr>
              <tr>
                <td>Màn hình</td>
                <td>{{ detail.manHinh }}</td>
              </tr>
              <tr>
                <td>Hệ điều hành</td>
                <td>{{ detail.heDieuHanh }}</td>
              </tr>
              <tr>
                <td>Camera trước</td>
                <td>{{ detail.cameraTruoc }}</td>
              </tr>
              <tr>
                <td>Camera Sau</td>
                <td>{{ detail.cameraSau }}</td>
              </tr>
              <tr>
                <td>RAM</td>
                <td>{{ detail.ram }}</td>
              </tr>
              <tr>
                <td>ROM</td>
                <td>{{ detail.rom }}</td>
              </tr>
              <tr>
                <td>Giá bán</td>
                <td>{{ detail.giaBan }}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: ['detail']
  }
  </script>
  