<template>
    <div>
      <ListPhone :list="listPhone" @XemSP="XemSP" />
      <DetailPhone :detail="detailPhone" />
    </div>
  </template>
  
  <script>
  import ListPhone from './List_Phone.vue'
  import DetailPhone from './DetailPhone.vue'
import { data_phone } from './data_phone.vue'
  
  
  export default {
    data() {
      return {
        listPhone: data_phone,
        detailPhone: data_phone[0]
      }
    },
    methods: {
      XemSP(sp) {
        this.detailPhone = sp
      }
    },
    components: {
      ListPhone,
      DetailPhone
    }
  }
  </script>
  