<template>
   <div class="col-4 p-4">
     <div class="card border-primary h-100">
       <img class="card-img-top" :src="data.hinhAnh" :alt="data.tenSP" />
       <div class="card-body">
         <h4 class="card-title">{{ data.tenSP }}</h4>
         <p class="card-text">{{ data.giaBan }}</p>
         <button @click="handleXemSp" class="btn btn-success">Xem chi tiết</button>
       </div>
     </div>
   </div>
 </template>
 
 <script>
 export default {
   props: ['data'],
   methods: {
     handleXemSp() {
       this.$emit('XemSP', this.data)
     }
   }
 }
 </script>
 