<template>
  <div class="row">
    <ItemPhone
      v-for="(item, index) in list"
      :key="index"
      :data="item"
      @XemSP="XemSP"
    />
  </div>
</template>

<script>
import ItemPhone from './ItemPhone.vue'

export default {
  props: ['list'],
  methods: {
    XemSP(sp) {
      this.$emit('XemSP', sp)
    }
  },
  components: {
    ItemPhone
  }
}
</script>
