<template>
  <h1>Ex_Demo_Vuex_So_Luong</h1>

  <button @click="giamSoLuong" class="btn btn-danger">-</button>
  <strong class="mx-5">{{ soLuong }}</strong>
  <button @click="tangSoLuong" class="btn btn-success">+</button>
</template>

<script>
export default{
    name: "Ex_Demo_Vuex_So_Luong",


    computed: {
      soLuong(){
        return this.$store.state.soLuong;
      },
    }, 

    methods: {
      tangSoLuong(){
        this.$store.dispatch('tangSoLuong');
      },
      giamSoLuong(){
        this.$store.dispatch('giamSoLuong');
      },
    }
}
</script>