<template>
    <div>
      <h1>Counter: {{ counter }}</h1>
    <button @click="increment">Increment</button>
    <button @click="decrement">Decrement</button>
    </div>
</template>

<script>

 export default{
    
  name: 'Ex_Demo_Vuex_Mini',

  computed: {
    counter() {
      return this.$store.state.counter;
    },
  },

  methods: {
    increment() {
      this.$store.dispatch('increment');
    },
    decrement() {
      this.$store.dispatch('decrement');
    },
  },
    
    
};
    

</script>