<template>
   <p>Choose what part of this page you want to see:</p>
   <button @click="activeComp = 'animal-collection'" class="btn btn-danger">Animals</button>
   <button @click="activeComp = 'food-items'" class="btn btn-success">Food</button>

   <div>
    <component :is="activeComp"/>
   </div>
</template>


<script>
  export default{
    name: "Ex_Router",
    data(){
      return{
         activeComp: ''
      }
    }
  }
</script>

<style scoped>
  button {
    padding: 5px;
    margin: 10px;
  }
  div {
    border: dashed black 1px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
  }
</style> 