<template>


   <UserInfo :hoTen="userName" 
   @handleChageUserName="handleChageUserName"
   :Tuoi="ageUserName"
   @handleChageAgeUserName="handleChageAgeUserName"
   />


</template>


<script>
import { ref } from 'vue';
import UserInfo from './UserInfo.vue';
export default{
    name: "DemoProps",
    components: { UserInfo },

    setup(){
        const userName = ref('alice');
        const ageUserName = ref(18);
        
        const handleChageUserName = () => {
            if(userName.value === 'bob'){
               userName.value = 'alice';
            } else{
                userName.value = 'bob';
            }
        }

        const handleChageAgeUserName = () => {
             if(ageUserName.value === 20){
                ageUserName.value = 18;
             } else {
                ageUserName.value = 20;
             }
        }

        return{
            userName,
            handleChageUserName,
            ageUserName,
            handleChageAgeUserName
        }
    }
}

</script>