<template>
 <div>
    <h2>UserName: {{ hoTen }}</h2>
    <h3>Age: {{ Tuoi }}</h3>
    <button @click="$emit('handleChageUserName')" class="btn btn-success" >Change UserName</button>
    <button @click="$emit('handleChageAgeUserName')" class="btn btn-danger">Change AgeUserName</button>
 </div>
</template>


<script>
export default{
    name: "UserInfo",
    props: {
        hoTen: String,
        Tuoi: Number,
    }
}
</script>