<template>
  <div class="row">
   <div class="col-md-4">
    <h3 class="text-center">{{ detailPhone.tenSP }}</h3>
    <img class="card-img-top" style="width: 18rem;" :src="detailPhone.hinhAnh" alt="">
    <div class="col-8">
        <table class="table">
            <thead>
              <tr>
                <td colspan="2">
                  <h3>Thông số kỹ thuật</h3>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h3>{{ detailPhone.maSP }}</h3>
                </td>
              </tr>
              <tr>
                <td>Màn hình</td>
                <td>{{ detailPhone.manHinh }}</td>
              </tr>
              <tr>
                <td>Hệ điều hành</td>
                <td>{{ detailPhone.heDieuHanh }}</td>
              </tr>
              <tr>
                <td>Camera trước</td>
                <td>{{ detailPhone.cameraTruoc }}</td>
              </tr>
              <tr>
                <td>Camera Sau</td>
                <td>{{ detailPhone.cameraSau }}</td>
              </tr>
              <tr>
                <td>RAM</td>
                <td>{{ detailPhone.ram}}</td>
              </tr>
              <tr>
                <td>ROM</td>
                <td>{{ detailPhone.rom }}</td>
              </tr>
              <tr>
                <td>Giá bán</td>
                <td>{{ detailPhone.giaBan }}</td>
              </tr>
            </thead>
          </table>

    </div>
   </div>
  </div>
</template>

<script>
export default{
    name: "Detail_Phone_Vuex",
    props:{
        detailPhone: {
            type: Array,
            required: true,
        }
    }
}
</script>