<template>


   <Phone_Cart/>

   <List_Phone_Vuex/>
   <Detail_Phone_Vuex :detailPhone="counter"/>
</template>

<script>
import Phone_Cart from './Phone_Cart.vue';
import Detail_Phone_Vuex from './Detail_Phone_Vuex.vue';
import List_Phone_Vuex from './List_Phone_Vuex.vue';
export default{
    name: "Ex_Phone_Vuex",
    computed: {
        counter(){
            return this.$store.state.detailPhone;
        }
    },
    components: { List_Phone_Vuex, Detail_Phone_Vuex, Phone_Cart }
}
</script>