<template>
  <div class="col-4 p-4" v-for="phone in phoneList" :key="maSP">
      <div class="card border-primary h-100">
         <img class="card-img-top" :src="phone.hinhAnh" :alt="phone.tenSP">
         <div class="card-body">
            <h4 class="card-title">{{ phone.tenSP }}</h4>
            <p class="card-text">{{ phone.giaBan }}</p>
            <button @click="viewDetailPhone(phone)" class="btn btn-success">Xem chi tiết</button>
            <button @click="addToCart(phone)" class="btn btn-danger">Thêm giỏ hàng</button>
         </div>
      </div>
  </div>
</template>

<script>
export default{
    name: "Item_Phone_Vuex",
    props:{
        phoneList: {
            type: Array,
            required: true,
        }
    },
    methods:{
        viewDetailPhone(phone){
           this.$store.commit("XEM_CHI_TIET", phone);
        },
        addToCart(phone){
            this.$store.commit("THEM_SAN_PHAM", phone);
        }
    }
}
</script>