<template>
   <div class="row">
    <Item_Phone_Vuex :phoneList="counter"/>
   </div>
</template>

<script>
import Item_Phone_Vuex from './Item_Phone_Vuex.vue';
export default{
    name: "List_Phone_Vuex",
    computed: {
        counter(){
            return this.$store.state.listPhone;
        }
    },
    components: { Item_Phone_Vuex }
}
</script>