<template>
  <div class="container p-5">
    <h2 class="text-center">Phone Cart</h2>
    <table class="table table-striped table-inverse mt-5">
        <thead class="thead-inverse">
            <tr>
                <th>Mã sp</th>
                <th>Tên sp</th>
                <th>Giá Bán</th>
                <th>Hình Ảnh</th>
                <th>Số Lượng</th>
                <th>Tổng tiền</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="phone in phoneCart" :key="phone.maSP">
                <td>{{ phone.maSP }}</td>
                <td>{{ phone.tenSP }}</td>
                <td>{{forMatter.format( phone.giaBan) }}</td>
                <td> <img style="width: 50px;" :src="phone.hinhAnh" alt=""></td>
                <td>
                    <button @click="handleQuaylity(phone.maSP, -1)" class="btn btn-outline-info btn-sm">-</button>
                    <strong class="mx-2">{{ phone.soLuong }}</strong>
                    <button @click="handleQuaylity(phone.maSP, +1)" class="btn btn-outline-info btn-sm">+</button>
                </td>
                <td>{{ forMatter.format(phone.giaBan * phone.soLuong) }}</td>
                <td>
                    <button @click="handleDelete(phone.maSP)" class="btn btn-danger">Xoá</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
export default{
   name: "Phone_Cart",
   computed: {
    phoneCart(){
        return this.$store.state.cart;
    }
   },
   methods: {
    handleDelete(phone){
      this.$store.commit("XOA_SAN_PHAM", phone);
    },
    handleQuaylity(phoneSp, quaylity){
       this.$store.commit("CHINH_SO_LUONG", {maSP: phoneSp, soLuong: quaylity})
    }
   },
   data(){
     return{
        forMatter: new Intl.NumberFormat('vin-VN',{
            style: 'currency',
            currency: 'VND',
        })
     }
   }
}
</script>