<template>
   <div class="row">
         <img class="col-4" :src="imgSrc" alt="">
         <div>
            <button @click="handleChangeColor('red')" class="btn btn-danger">Red</button>
            <button @click="handleChangeColor('black')" class="btn btn-dark mx-5">Black</button>
            <button @click="handleChangeColor('silver')" class="btn btn-secondary">Silver</button>
         </div>
   </div>
</template>


<script>
import { ref } from 'vue';

export default{
    name: "Ex_Car_Color",
    setup(){
        const imgSrc = ref('./img/black-car.jpg');
        const handleChangeColor = (color) => {
            let src = `./img/${color}-card.jpg`;
            imgSrc.value = src;
        }
        return {
            imgSrc,
            handleChangeColor
        }
    }
}
</script>