<template>
  <div class="container p-5">
      <h2 class="text-success">Danh sách đặt ghế</h2>
      
      <div style="display: flex; align-items: center;"  class="mb-3">
        <span style="width: 30px; height: 30px; display: inline-block;"
        class="bg-light mr-2">
        </span>
        <span style="fontWeight: bolder;" class="text-light">Ghế chưa đặt</span>
      </div>

      <div style="display: flex; alignItems: center;" class="mb-3">
          <span style="width: 30px; height: 30px; display: inline-block;"
          class="bg-danger mr-2"></span>
          <span style="fontWeight: bolder;"
           class="text-danger">Ghế đã đặt</span>
      </div>

      <div style="display: flex; alignItems: center;" className='mb-5'>
         <span style="width: 30px; height: 30px; display: inline-block;"
         class="bg-success mr-2"></span>
         <span style="fontWeight: bolder;"
         class="text-success">Ghế đang chọn</span>
      </div>

      <table class="table table-dark table-inverse text-white">
         <thead class="thead-inverse">
            <tr>
                <th>Số ghế</th>
                <th>Giá</th>
                <th>Action</th>
            </tr>
         </thead>
         <tbody>
               <tr v-for="ghe in chonGhe" :key="ghe.soGhe">
                  <td>
                     {{ ghe.soGhe }}
                  </td>
                  <td>{{ forMatter.format(ghe.gia) }}</td>
                  <td>
                     <button @click="handleDelete(ghe)"   class="btn btn-danger">Xóa</button>
                  </td>
               </tr>
         </tbody>
         <tr>
            <td>Tổng tiền</td>
            <td>{{ forMatter.format(tongTien) }}</td>
         </tr>
      </table>

  </div>
</template>

<script>
export default{
   props:{
      chonGhe:{
         type: Array,
         required: true,
      }
   },
   data(){
     return{
      forMatter: new Intl.NumberFormat('vin-VN',{
            style: 'currency',
            currency: 'VND',
        })
     }
   },
   methods:{
      handleDelete(action){
         this.$store.commit("XOA_GHE", action);
      }
   },
   computed: {
       tongTien(){
         let tongTien = 0;
         this.chonGhe.map(ghe => {
            tongTien += ghe.gia;
         });
         return tongTien;
       }
   },
   name: "Chon_Ghe_Vue", 
}
</script>