<template>
   <div v-for="hangGhe in listGhe" :key="hangGhe.hang" class="mb-4">
       <span style="color: white; font-weight: 900; font-size: 20px;" 
       class="mr-5">
       {{ hangGhe.hang }}
       </span>
       <span @click="chonGhe(ghe)" :class="getStateGheClass(ghe.daDat)"  v-for="ghe in hangGhe.danhSachGhe" :key="ghe.soGhe" style="cursor: pointer;">
            {{ ghe.soGhe }}
       </span>
   </div>
</template>

<script>
  export default{
    name: "Hang_Ghe_Vuex",
    props: {
      listGhe:{
        type: Array,
        required: true,
      }
    },
    methods:{
      getStateGheClass(daDat) {
      if (daDat === false) {
        return "btn btn-light btn-sm mr-4";
      } else if (daDat === true) {
        return "btn btn-danger btn-sm mr-4";
      } else {
        return "btn btn-success btn-sm mr-4";
      }
    },
    chonGhe(ghe){
      this.$store.commit("CHON_GHE", ghe);
    },
    }
  }
</script>