<template>

   <div class="row">
       <div class="col-8">
        <h1>Hàng ghế</h1>   
        <Hang_Ghe_Vuex :listGhe="counter"/>
       </div>
       <div class="col-4">
           <h1>Chọn ghế</h1>
           <Chon_Ghe_Vue :chonGhe="chonGhe"/>
       </div>
   </div>
</template>

<script>
import Hang_Ghe_Vuex from './Hang_Ghe_Vuex.vue';
import Chon_Ghe_Vue from './Chon_Ghe_Vue.vue';
export default{
    name: "Vuex_Dat_Ve",
    computed: {
         counter(){
            return this.$store.state.listGhe;
         },
         chonGhe(){
            return this.$store.state.chonGhe;
         }
    },
    components: { Hang_Ghe_Vuex, Chon_Ghe_Vue }
}
</script>