<template>
  <div>
    <h2>Render</h2>
    <div
      v-for="(item, index) in foodList.slice(0, 12)"
      :key="index"
      class="card"
      style="width: 18rem"
    >
     <div class="card-body">
        <h5 class="card-title">{{ item.tenMon }}</h5>
        <p class="card-text">{{ item.giaMon }}</p>
        <a class="btn btn-primary" href="">Thêm vào giỏ hàng</a>
     </div>
</div>
  </div>
</template>

<script>
import { ref } from "vue";
import { dataFoodList } from "./dataFoodList.vue";
export default {
  name: "RenderWithMap",
  setup() {
    const foodList = ref(dataFoodList);
    return {
      foodList,
    };
  },
};
</script>
