<template>
    <div>
        <h2>Demo Ref</h2>
        <h2>Demo Ref String</h2>
        <h3 :class="{'text-danger': userName === 'bob', 'text-primary': userName !== 'bob'}">{{ userName }}</h3>
        <button @click="handleChangeUserName"  class="btn btn-warning">Change UserName</button>
         
        <h2>Demo Ref Number</h2>
        <h3 :class="{'text-danger': ageUserName === 20, 'text-primary': ageUserName !== 20}">
            {{ ageUserName }}
        </h3>
        <button @click="handleChageAgeUserName" class="btn btn-danger">Change AgeUserName</button>

    </div>
</template>

<script>
import { ref } from 'vue';
export default{
    name: 'DemoRef',
    setup(){
        const userName = ref('alice');
        const ageUserName = ref(18);

        const handleChangeUserName = () => {
            if(userName.value === 'bob'){
                 userName.value = 'alice';
            } else{
                userName.value = 'bob';
            }
        }

        const handleChageAgeUserName = () => {
            if(ageUserName.value === 20){
                   ageUserName.value = 18;
            } else{
                ageUserName.value = 20;
            }
        }

        return{
            userName,
            ageUserName,
            handleChangeUserName,
            handleChageAgeUserName
        }
            
        
    }

}
</script>