<script setup>
import Ex_Router from './components/Ex_Router/Ex_Router.vue';

// import Vuex_Dat_Ve from './components/Vuex_Dat_Ve/Vuex_Dat_Ve.vue';

// import Ex_Phone_Vuex from './components/Ex_Phone_Vuex/Ex_Phone_Vuex.vue';

// import Ex_Shoe_Shop_Vuex from './components/Ex_Shoe_Shop_Vuex/Ex_Shoe_Shop_Vuex.vue';

// import Ex_Demo_Vuex_So_Luong from './components/Ex_Demo_Vuex_So_Luong/Ex_Demo_Vuex_So_Luong.vue';

// import Ex_Demo_Vuex_Mini from './components/Ex_Demo_Vuex_Mini/Ex_Demo_Vuex_Mini.vue';

// import Ex_Shoe_Shop from './components/Ex_Shoe_Shop/Ex_Shoe_Shop.vue';



// import Ex_Phone from './components/Ex_Phone/Ex_Phone.vue';


// import DemoProps from './components/DemoProps/DemoProps.vue';

// import Ex_Car_Color from './components/Ex_Car_Color/Ex_Car_Color.vue';
// import RenderWithMap from './components/RenderWithMap/RenderWithMap.vue';

// import DemoRef from './components/DemoState/DemoRef.vue';



// import ConditinalRendering from './components/ConditinalRendering/ConditinalRendering.vue';

// import CustomButton from './components/CustomButton/CustomButton.vue';
// import EventHandling from './components/EventHandling/EventHandling.vue';
// import Ex_Layout from './components/Ex_Layout/Ex_Layout.vue';


</script>

<template>
  <div>
    <h1>VueJs Basic</h1>
    <!-- <CustomButton/> -->
    <!-- <EventHandling/> -->
    <!-- <Ex_Layout/> -->
    <!-- <ConditinalRendering/> -->
    <!-- <DemoRef/> -->
    <!-- <RenderWithMap/> -->
    <!-- <Ex_Car_Color/> -->
    <!-- <DemoProps/> -->
    <!-- <Ex_Phone/> -->
    <!-- <Ex_Shoe_Shop/> -->
    <!-- <Ex_Demo_Vuex_Mini/> -->
    <!-- <Ex_Demo_Vuex_So_Luong/> -->
    <!-- <Ex_Shoe_Shop_Vuex/> -->
    <!-- <Ex_Phone_Vuex/> -->
    <!-- <div class="App">
      <Vuex_Dat_Ve/>
    </div> -->
    <Ex_Router/>
    

    
    


    
  </div> 
</template>

