<template>
    <button @click="handleClick">Click me</button>

</template>

<script>
export default {
    name: 'CustomButton',
    methods: {
        handleClick(){
            console.log('Button clicked');
        }
    }
};
</script>