<template>
   <List_Shoe :list="listShoe" @themGioHang="themGioHang"/>
   <ShoeCart :shoeCart="shoeCart" @xoaGioHang="xoaGioHang" @chinhSoLuong="chinhSoLuong"/>


</template>


<script>
import List_Shoe from './List_Shoe.vue';
import ShoeCart from './ShoeCart.vue';
import { data_shoe } from './data_shoe.vue';


export default{
    name: "Ex_Shoe_Shop",
    data() {
        return {
            listShoe: data_shoe,
            shoeCart: []
        };
    },
    methods: {
       themGioHang(shoe){
         let shoeCartClone = [...this.shoeCart];
         let index = shoeCartClone.findIndex((item) => {
            return item.id == shoe.id;
         });
         if(index === -1){
            let shoeClone = {...shoe, soLuong: 1};
            shoeCartClone.push(shoeClone);
         } else{
            shoeCartClone[index].soLuong += 1;
         }
         this.shoeCart = shoeCartClone;
       },
       xoaGioHang(id){
         let shoeCartClone = [...this.shoeCart];
         let index = shoeCartClone.filter((item) => {
            return item.id !== id
         });
         if(index !== -1){
              shoeCartClone.splice(index, 1);
         }
         this.shoeCart = shoeCartClone;
       },
       chinhSoLuong(id, luaChon){
           let shoeCartClone = [...this.shoeCart];
           let index = shoeCartClone.findIndex((item) => {
                return item.id === id;
           })

           shoeCartClone[index].soLuong += luaChon;
           this.shoeCart = shoeCartClone;
       }
    },
    components: { List_Shoe, ShoeCart }
}
</script>

