<template>
   <div class="col-4 mb-5">
         <img class="card-img-top" :src="data.image" alt="">
         <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
              <p class="card-text">{{data.price}}</p>
              <button @click="themGioHang" class="btn btn-primary">Add to cart</button>
         </div>
   </div>
</template>

<script>
export default{
    props: ['data'],
    name: "Item_Shoe",
    methods:{
        themGioHang(){
            this.$emit('themGioHang', this.data)
        }
    }
}
</script>