<template> 
 <div class="container p-5">
    <div class="row p-5">
        <Item_Shoe
v-for="(item, index) in list"
:key="index"
:data="item"
@themGioHang="themGioHang"
/>  
    </div>     
    
</div>


</template>

<script>
import Item_Shoe from './Item_Shoe.vue';
export default{
    props: ['list'],
    name: "List_Shoe",
    methods: {
        themGioHang(shoe){
          this.$emit('themGioHang', shoe)
        }
    },
    components: { Item_Shoe }
}
</script>