<template>
   <div class="container p-5">
      <table class="table table-inverse table-inverse">
              <thead class="thead-inverse">
                  <tr>
                    <th>ID</th>
                        <th>Tên Sản phẩm</th>
                        <th>Gía</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th>Hình ảnh</th>
                        <th>Chức năng</th>
                  </tr>
              </thead>
              <tbody>
                <tr v-for="(shoe, index) in shoeCart" :key="index">
                <td>{{ shoe.id }}</td>
                <td>{{ shoe.name }}</td>
                <td>{{ shoe.price }}</td>
                <td>
                    <button @click="chinhSoLuong(shoe.id, -1)"  class="btn btn-outline-info btn-sm">
                        -
                    </button>
                    <strong class="mx-2">{{ shoe.soLuong }}</strong>
                    <button  @click="chinhSoLuong(shoe.id, 1)" class="btn btn-outline-info btn-sm">
                        +
                    </button>
                </td>
                <td>{{ shoe.price * shoe.soLuong }}</td>
                <td>
                    <img :src="shoe.image" style="width: 50px;" alt="">
                </td>
                <td>
                    <button @click="xoaGioHang(shoe.id)" class="btn btn-danger">Xóa</button>
                </td>
                </tr>
              </tbody>
      </table>
   </div>
</template>


<script>
export default{
    name: "ShoeCart",
    props: {
        shoeCart: Array
    },
    methods:{
        xoaGioHang(id){
            this.$emit('xoaGioHang', id)
        },
        chinhSoLuong(id, luaChon) {
            this.$emit('chinhSoLuong', id, luaChon);
        }
    }
}
</script>